<div class="entries">

    <form (submit)="addEntry()">
        <input 
            type="text"
            name="inputTitle"
            placeholder="Change entry title..."
            class="title-input"
            [(ngModel)]="inputTitle"
        />
        <input 
            type="text"
            name="inputEntry"
            placeholder="Enter new diary entry..."
            class="entry-input"
            [(ngModel)]="inputEntry"
        />
        <input 
            type="text"
            name="inputDate"
            placeholder="Enter a Date for entry..."
            class="date-input"
            [(ngModel)]="inputDate"
        />
        <input type="submit" value="Add Entry" class="entry-submit">
    </form>

    <div class="entry" *ngFor="let entries of entries; let i = index;">
        <div class="title">{{ entries.title }}</div>
        <div class="content">{{ entries.content }}</div>
        <div class="date">{{ entries.date }}</div>
        <button class="delete" (click)="deleteEntry(i)">Remove</button>
    </div>
</div>